@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;900&display=swap");

@font-face {
  font-family: CabinetGrotesk-Variable;
  src: url(/fonts/CabinetGrotesk-Variable.ttf);
  font-weight: 900;
}
@font-face {
  font-family: ui-sans-serif;
  src: url(/fonts/IBMPlexSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ui-sans-serif;
  src: url(/fonts/IBMPlexSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: NewSpirit;
  src: url(/fonts/NewSpirit.otf);
  font-weight: 900;
}