.homepage {
  background-color: var(--c-bg-dark);

  &::before {
    content: "";
    position: fixed;
    top: 0%;
    left: -20%;
    width: 140%;
    height: 100vh;
    z-index: 0;
    background: url(/assets/homepage.svg) center / 300px 150px repeat;
  }

  > .navbar {
    background-color: var(--c-bg-dark);
  }

  > .page {
    position: relative;
    padding: 0 !important;
    height: initial;
    min-height: 100vh;

    > .theme-default-content {
      max-width: 100%;
      padding: 0 1rem;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: calc(var(--navbar-height) + 2rem) 0 2rem;
    box-sizing: border-box;
  }

  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 4rem;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: calc(100% / 4 - 8rem);
    background-color: var(--c-bg-light);
    border: none;
    padding: 40px 25px;
    min-height: 280px;
    box-shadow: 0 2px 4px 0 var(--c-glow);
    transition:
      box-shadow 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
    text-decoration: none !important;

    &:hover {
      background-color: var(--c-bg-darker);
      box-shadow: 0 2px 30px 0 var(--c-glow);
    }

    & h2 {
      padding: 0;
      margin: 0 !important;
      color: var(--c-text);
      font-family: var(--font-family-title);
      font-size: 1.75rem;
      line-height: 3rem;
      font-weight: 900;
      border: none;
    }

    & p {
      padding: 0;
      margin: 20px 0 0 !important;
      color: var(--c-text-lighter);
      font-size: 1.125rem;
      line-height: 1.5;
      font-weight: 500;
      border: none;
    }
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  & footer {
    display: none !important;
  }
}
