@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;900&display=swap');
@import './sidebar';
@import './homepage';

@font-face {
  font-family: CabinetGrotesk-Variable;
  src: url(/fonts/CabinetGrotesk-Variable.ttf);
  font-weight: 900;
}
@font-face {
  font-family: ui-sans-serif;
  src: url(/fonts/IBMPlexSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ui-sans-serif;
  src: url(/fonts/IBMPlexSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap");
  font-weight: 900;
}

:root {
  --c-brand: #f9ff73;
  --c-brand-light: #faff81;
  --c-bg: #faf8f5;
  --c-bg-dark: #faf8f5;
  --c-bg-light: #ffffff;
  --c-bg-lighter: #fafafa;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #f9ff73;
  --c-glow: rgba(0, 0, 0, 0.2);
  --c-text: #010101;
  --c-text-accent: var(--c-brand);
  --c-text-light: #6a7380;
  --c-text-lighter: #6a7380;
  --c-text-lightest: rgb(120 220 232);
  --c-text-quote: #f9ff73;
  --c-border: #edebe9;
  --c-border-dark: #e1dfdd;
  --c-tip: rgb(120, 220, 232);
  --c-tip-bg: rgba(120, 220, 232, 0.3);
  --c-tip-title: var(--c-tip);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: rgb(249, 255, 115);
  --c-warning-bg: rgba(249, 255, 115, 0.3);
  --c-warning-title: var(--c-warning);
  --c-warning-text: var(--c-text);
  --c-warning-text-accent: var(--c-text-accent);
  --c-danger: #e46b71;
  --c-danger-bg: rgba(228, 107, 113, 0.3);
  --c-danger-title: var(--c-danger);
  --c-danger-text: var(--c-text);
  --c-details-bg: var(--c-bg-light);
  --c-danger-text-accent: var(--c-text);
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.8rem;
  --navbar-line-height: calc(var(--navbar-height) - 2 * var(--navbar-padding-v));

  --homepage-width: 1275px;
  --content-width: 1275px;

  /* Search Style */
  --search-input-width: 10rem !important;
  --search-result-width: 20rem !important;

  --font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-family-title: Inter, CabinetGrotesk-Variable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  --primary-dark: #06080f;
  --primary-light: #1e212b;
  --primary-bright: #313442;
  --secondary-dark: #9d9e91;
  --secondary-light: #f0f2da;
}
html.dark {
  --c-brand: #f9ff73;
  --c-brand-light: #faff81;
  --c-bg-arrow: #f9ff73;
  --c-text: #f0f2da;
  --c-text-light: #9d9e91;
  --c-text-lighter: #9d9e91;
  --c-text-lightest: rgb(120 220 232);
  --c-bg: var(--primary-dark);
  --c-bg-dark: #141721;
  --c-bg-darker: #06080f;
  --c-bg-light: #1f212b;
  --c-bg-lighter: #2b2e30;
  --c-border: #2b2e30;
  --c-glow: rgba(20, 23, 33, 0.8);
  --c-tip: rgb(120, 220, 232);
  --c-tip-bg: rgba(120, 220, 232, 0.3);
  --c-tip-title: var(--c-tip);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: rgb(249, 255, 115);
  --c-warning-bg: rgba(249, 255, 115, 0.3);
  --c-warning-title: var(--c-warning);
  --c-warning-text: var(--c-text);
  --c-warning-text-accent: var(--c-text-accent);
  --c-danger: #e46b71;
  --c-danger-bg: rgba(228, 107, 113, 0.3);
  --c-danger-title: var(--c-danger);
  --c-danger-text: var(--c-text);
  --c-details-bg: var(--c-bg-light);
  --c-danger-text-accent: var(--c-text);
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);
}
.navbar-items .navbar-item {
  margin-left: 1rem;
}

/* Search */
.search-box {
  order: -1;
  margin: 0 !important;
  margin-right: 1rem !important;
  --search-item-focus-bg-color: var(--c-bg-light);
}
.search-box input {
  --search-border-color: var(--c-text);
}

.site-name {
  display: none !important;
}

.navbar .logo {
  height: 24px;
  vertical-align: middle;
}

/* Text & Code Split */
.split_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}
.split_side {
  width: calc(50% - 1.5rem);
}
/* Text & Code Split End */

/* Mobile */
@media (max-width: 1140px) {
  .homepage_item {
    width: calc(50% - 8rem);
  }
  .split_side {
    width: 100%;
  }

  nav {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .homepage_container {
    width: 100%;
    margin: 0 auto;
  }
  .homepage_item {
    width: 100%;
    min-height: 200px;
  }
  .search-box {
    margin-right: 0rem !important;
  }
}

h2,
h3 {
  margin-top: 1rem !important;
  font-family: var(--font-family-title) !important;
}

div.divider {
  margin: 3rem auto;
  border-bottom: 1px solid var(--primary-bright);
}

div.request-url {
  color: var(--c-text);
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.25;
  overflow-wrap: break-word;
  background: #121415;
  padding: 15px;
  border: 1px solid rgb(87, 85, 85);
  border-radius: 10px;
}
