:root {
  --c-brand: #7f5af0;
  --c-brand-light: #8c6bf2;
  --c-bg: #FAF8F5;
  --c-bg-dark: #FAF8F5;
  --c-bg-light: #FFFFFF;
  --c-bg-lighter: #FAFAFA;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #7f5af0;
  --c-glow: rgba(0,0,0,0.2);
  --c-text: #010101;
  --c-text-accent: var(--c-brand);
  --c-text-light: #6A7380;
  --c-text-lighter: #6A7380;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #7f5af0;
  --c-border: #edebe9;
  --c-border-dark: #e1dfdd;
  --c-tip: #7f5af0;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.8rem;
  --navbar-line-height: calc( var(--navbar-height) - 2 * var(--navbar-padding-v) );
  --homepage-width: 1275px;
  --content-width: 960px;

  /* Search Style */
  --search-input-width: 10rem!important;
  --search-result-width: 20rem!important;
}
html.dark  {
	--c-brand: #7f5af0;
  --c-brand-light: #6648c0;
  --c-text: #FFFFFF;
  --c-text-light: rgba(255, 255, 255, 0.9);
  --c-text-lighter: rgba(255, 255, 255, 0.7);
  --c-text-lightest: #6a8bad;
  --c-bg: #242629;
  --c-bg-dark: #16161A;
  --c-bg-light: #242629;
  --c-bg-lighter: #2f3134;
  --c-border: #3a3c3e;
  --c-glow: rgba(0,0,0,0.8);
}
.navbar-items .navbar-item {
  margin-left: 1rem;
}

/* Search */
.search-box {
  order: -1;
  margin: 0!important;
  margin-right: 1rem!important;
  --search-item-focus-bg-color: var(--c-bg-light)
}
.search-box input {
  --search-border-color: var(--c-text);
}

.site-name {
	display: none!important;
}

/* Homepage */
.homepage {
  background-color: var(--c-bg-dark);
}

.homepage:before {
  content: '';
  position: fixed;
  top: 10%;
  left: -20%;
  width: 140%;
  height: 100vh;
  z-index: 0;
  background-image: url(../assets/pritok_v_reko_3-1@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.homepage .navbar {
  background-color: var(--c-bg-dark);
}

.homepage .page {
  position: relative;
  padding: 0!important;
  height: initial;
  min-height: 100vh;
}
.homepage .page .theme-default-content {
  max-width: var(--homepage-width);
  padding: 0 1rem;
}

.homepage_content {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: calc(var(--navbar-height) + 2rem) 0 2rem;
  box-sizing: border-box;
}
.homepage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  gap: 1rem;
}
.homepage_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: calc(100% / 3 - 4rem);
  background-color: var(--c-bg-light);
  border: none;
  border-radius: 32px;
  padding: 32px 20px;
  min-height: 300px;
  box-shadow: 0 2px 4px 0 var(--c-glow);
  transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;
  text-decoration: none!important;
}
.homepage_item:hover {
  background-color: var(--c-bg-lighter);
  box-shadow: 0 2px 30px 0 var(--c-glow);
}
.homepage_item h2 {
  padding: 0;
  margin: 0!important;
  color: var(--c-text);
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 600;
  border: none;
}
.homepage_item p {
  padding: 0;
  margin: 20px 0 0!important;
  color: var(--c-text-lighter);
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 500;
  border: none;
}

.homepage footer {
  display: none!important;
}
/* Homepage End */

/* Text & Code Split */
.split_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.split_side {
  width: calc(50% - 0.5rem);
}
/* Text & Code Split End */


/* Mobile */
@media (max-width: 1140px) {
  .homepage_item {
    width: calc(50% - 4rem);
    max-width: 400px;
  }
  .split_side {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .homepage_container {
    width: 100%;
    margin: 0 auto;
  }
  .homepage_item {
    width: 100%;
    min-height: 200px;
  }
  .search-box {
    margin-right: 0rem!important;
  }
}